.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.actions {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.6rem;
}
